{% extends 'base.html' %}

  {% block content %}

  <div class="jumbotron">
    <img src="/static/art/responsive_web_design.png">
    <h1>Lottery Genius</h1>
    <div class="row-fluid marketing">
    <div class="span6">
     <h3 class="text-left">Be on top of your winnings!</h3>
     <p class="text-left">Lottery Genius will tell you when it is worth it to play the games. After you decided to purchase tickets, Lottery Genius can track your winnings!</p>
     <p class="text-left">You can send a picture of your ticket, and Lottery Genius will tell you how much you won!</p>
    </div>
    <!-- <p class="lead">We track your winnings</p> -->
    <br/><br/><br/><a class="btn btn-large btn-success" href="time-to-buy">Get Started</a><br/>
  </div>


{% endblock %}