{% extends 'base.html' %}
{% load humanize %}

  {% block content %}

  <div class="jumbotron">
   <div class="row-fluid marketing">
 
 <h4 class="text-left muted">
  {% if mega_worthit %}
    	<img src="/static/art/thumbs_up.png" height="20" width="20"/>
      Yes buy Mega Millions&nbsp;<img src="/static/art/megamillions.png"/>! Prize is ${{mega_prize | intcomma}}!
      <img src="/static/art/upload.png"><a href="upload-pics"/></img>
	{% else %}
      <img src="/static/art/thumbs_down.png" height="20" width="20"/>
      Don't buy Mega Millions&nbsp;<img src="/static/art/megamillions.png"/>
      Prize is only ${{mega_prize | intcomma}} :(
	{% endif %}
 
  </h4>
 <h4 class="text-left muted">
 	{% if power_worthit %}
    	<img src="/static/art/thumbs_up.png" height="20" width="20"/>
      Yes buy Powerball&nbsp;<img src="/static/art/powerball.png" height="42" width="42"/>! Prize is ${{power_prize | intcomma}}!
      <img src="/static/art/upload.png"><a href="upload-pics"/></img>
	{% else %}
    	<img src="/static/art/thumbs_down.png" height="20" width="20"/> 
      Don't buy Powerball&nbsp;<img src="/static/art/powerball.png" height="42" width="42"/>
      Prize is only ${{power_prize | intcomma}} :(
	{% endif %}
 	
  </h4>
 	</div>



{% endblock %}