{% extends 'base.html' %}
{% load humanize %}

  {% block content %}

  <div class="jumbotron">
    <h2>Lottery purchase for {{date-string}}</h2>
    <div class="row-fluid marketing">
    <div class="span6">

     <h3 class="text-left">Be on top of your winnings!</h3>
     <p class="text-left">Lottery Genius will tell you when it is worth it to play the games. After you decided to purchase tickets, Lottery Genius can track your winnings!</p>
     <p class="text-left">You can send a picture of your ticket, and Lottery Genius will tell you how much you won!</p>
    
    </div>
  </div>



{% endblock %}