{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
<h3>Upload your ticket</h3>
<div class="row-fluid marketing">
 <form action="{% url 'upload-pic' %}" class="navbar-form" method="post" enctype="multipart/form-data">{% csrf_token %}
    <select name="game-ticket" class="dropdown">
    {% for game in games %}
		<option value="{{ game.brand }}">{{game.description}}</option>
	{% endfor %}	
	</select>           
    <input id="id_image" type="file"  name="image">           
	<input type="submit" class="btn-small btn btn-success" value="Upload" />
</form>
</div>

{% endblock %}
